/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  padding: 3rem 3rem 0 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.75rem; }
    .heading-primary--sub:not(:last-child) {
      margin-bottom: .25rem; }

.heading-secondary {
  font-size: 4.25rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #777, darkgray);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary--granite {
    color: #2b2b2b; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.sub-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-meduim {
  margin-bottom: 6rem; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-margin-bottom-extra-small {
  margin-bottom: 1rem; }

.u-margin-bottom-negative-small {
  margin-bottom: -2rem; }

.u-margin-top-small {
  margin-top: 4rem; }

.u-padding-top-huge {
  padding-top: 15rem; }

.u-padding-top-extra-large {
  padding-top: 10rem; }

.u-padding-top-large {
  padding-top: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-form, .btn-form:link, .btn-form:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  align-self: flex-end;
  border-radius: 10px;
  margin-top: -15rem;
  height: 5rem;
  color: #fff;
  border: 0;
  background-color: #C1272D;
  font-size: 1.9rem; }

.card {
  max-width: 325px;
  width: 100%; }
  .card--1 {
    margin-right: 20%; }
  .card--2 {
    margin-left: 20%; }
  .card__picture--1 {
    background-image: url(); }
  .card__picture--2 {
    background-image: url(); }
  .card__heading {
    text-align: center;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, transparent 1%, lightgray 10%, gray, lightgray 90%, transparent 99%);
    border-image-slice: 1;
    margin-bottom: 1rem;
    margin-top: 1.5rem; }
    .card__heading-span {
      font-size: 3.25rem;
      font-weight: bold; }
  .card__details {
    text-align: center;
    line-height: 7rem; }
  .card__item {
    font-size: 2rem; }

.composition {
  max-width: 1300px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center; }
  .composition__container {
    display: flex;
    width: 100%;
    max-width: 425px;
    margin-bottom: 10rem; }
  .composition__logo {
    margin: 0 auto; }

.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 17px; }
  .form__container {
    display: flex;
    flex-flow: column;
    align-items: flex-start; }
  .form__label {
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: .7rem;
    color: #2b2b2b;
    display: block;
    transition: all .3s; }
  .form__input {
    width: 100%;
    display: block;
    padding: .5rem 0 .5rem 1rem;
    font-size: 1.45rem;
    margin-bottom: .5rem;
    color: #2b2b2b;
    background-color: #fff;
    border: none; }
    .form__input::placeholder {
      color: rgba(43, 43, 43, 0.6); }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #000; }
    .form__input--message {
      font-size: 2rem;
      text-decoration: none; }
  .form__recaptcha {
    margin-top: 9rem;
    align-self: flex-end; }
  .form input:-webkit-autofill,
  .form input:-webkit-autofill:hover,
  .form input:-webkit-autofill:focus,
  .form textarea:-webkit-autofill,
  .form textarea:-webkit-autofill:hover,
  .form textarea:-webkit-autofill:focus,
  .form select:-webkit-autofill,
  .form select:-webkit-autofill:hover,
  .form select:-webkit-autofill:focus {
    -webkit-text-fill-color: #2b2b2b;
    transition: background-color 5000s ease-in-out 0s; }

.footer {
  background-color: #0d123c;
  padding: 4rem 0;
  text-align: center; }
  .footer__copyright {
    color: #fff;
    font-size: 1.65rem;
    display: inline-block; }
    .footer__copyright-name {
      font-style: italic;
      font-weight: bolder; }
    .footer__copyright-date {
      font-weight: bolder;
      margin-right: 0px;
      color: lightgray; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #0d123c, rgba(0, 0, 0, 0)), url("../../img/landing-page/shingles.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 12rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 1200px;
    width: 100%; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  border: 1px solid lightgray;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: #bebaba;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__nav > * {
    display: none; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  width: 33%;
  text-transform: uppercase;
  background-image: linear-gradient(110deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .3s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: darkgray;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }
  .navigation__checkbox:checked ~ .navigation__nav > * {
    display: initial; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  padding: 7.5rem 0 4rem 0; }
  .section-about__container {
    display: flex;
    border-top: 3px solid;
    border-image: linear-gradient(to right, transparent 10%, lightgray 30%, gray, lightgray 70%, transparent 90%);
    border-image-slice: 1;
    margin-bottom: 10rem; }
    .section-about__container-left {
      display: flex;
      justify-content: flex-end;
      width: 50%; }
    .section-about__container-right {
      display: flex;
      justify-content: flex-start;
      width: 50%;
      border-left: 3px solid;
      border-image: linear-gradient(to bottom, gray, lightgray 70%, transparent 98%);
      border-image-slice: 1; }

.section-refrences {
  margin: 0 0 10rem 0; }

.section-contact {
  background-color: #bebaba;
  padding-bottom: 20rem; }
