.footer {
    background-color: #2b2b2b;
    padding: 4rem 0;
    text-align: center;

    &__copyright {
        color: $color-white;
        font-size: 1.65rem;
        display: inline-block;

        &-name {
            font-style: italic;
            font-weight: bolder;
            color: lightgray;
        }

        &-date {
            font-weight: bolder;
            margin-right: 0px;
            color: gray;
        }
    }
}