.section-about {
    padding: 7.5rem 0 4rem 0;
    
    &__container {
        display: flex;
        border-top: 3px solid transparent;
        border-image: linear-gradient(to right, transparent 10%, lightgray 30%, gray, lightgray 70%, transparent 90%);
        border-image-slice: 1;
        margin-bottom: 10rem;
        
        &-left {
            display: flex;
            justify-content: flex-end;
            width: 50%;
        }
        &-right {
            display: flex;
            justify-content: flex-start;
            width: 50%;
            border-left: 3px solid transparent;
            border-image: linear-gradient(to bottom, gray, lightgray 70%, transparent 98%);
            border-image-slice: 1;
        }
    }
}

.section-refrences {
    margin: 0 0 10rem 0;
}

.section-contact {
    background-color: $color-light-gray;
    padding-bottom: 20rem;
}
